body {
  font-family: 'Montserrat';
  text-transform:capitalize;
}

#title {
  background-color: #ff4c68;
  color: #ffffff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 900;
}

#testimonials h2 {
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

#pricing h2 {
  font-family: 'Montserrat';
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

p {
  font-family: 'Montserrat'
  color: #8f8f8f;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
}

/* Download buttons  */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */

#features {
  padding: 7% 15%;
  background-color: #ffffff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials em {
  color: #ffffff;
  font-weight: bold;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin:20px 20px 50px;
}

/* Pricing Section */

#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blueviolet;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: pink;
}

/* CTA Section */

#cta {
  text-align: center;
  background-color: #ff4c68;
  color: #ffffff;
  padding: 7% 15%;
}

.cta-heading {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */



.l {
  color: blue;
  margin: 10px 10px;
}

.f {
  color: darkblue;
  margin: 10px 10px;
}

.i {
 color: #ff4c68;
 margin: 10px 10px;
}

.g {
color: black;
margin: 10px 10px;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}

@media (max-width:1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}
